<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Already User Registered</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include("partials/style.ejs") %>
    </head>
    <body>
        <div class="container mt-5 text-justify d-flex justify-content-center">
           <div>
                <h1>UserName <%= name %> already taken please try new name</h1>
                <a href="/signup" class="btn">Go back to signup Page</a>
           </div>
        </div>
    </body>
</html>