<!DOCTYPE html>
<html lang="en">
<head>
  <title>Central library HomePage</title>
  <%- include("partials/style.ejs") %>
  <link rel="stylesheet" href="/public/css/main.css" type="text/css">
</head>
<body>
 <header class="container mt-5">
   
    <h1 class=" text-center text-capitalize">Welcome to the central library</h1>
    <p class="text-center mt-5">A place to explore awesome books </p>
    <p class="text-center mt-4">Click authors or books to know about.</p>
 </header>
 <nav class="navbar container text-center">
    <div class="authors_section col-sm-6 mt-2">
        <a href="/author" class="btn" style="font-size:32px;color:inherit">Authors</a>
    </div>
    <div class="books_section col-sm-6 mt-2">
        <a href="/book" class="btn" style="font-size:32px;color:inherit">Books</a>
    </div>
  </nav>
  <div class="logout">
    <a href="/logout" class="btn btn-primary float-right mr-3" style="color:inherit">Logout</a>
  </div>
</body>
</html>
