<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Invalid User input</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include("partials/style.ejs") %>
    </head>
    <body>
        <div class="container mt-5 text-center d-flex justify-content-center">
           <div>
                <h1 class="mt-5">Invalid Username or Password</h1>
                <a href="/" class="btn">Go back to LogIn Page</a>
                <a href="/signup" class="btn">Register New User</a>
           </div>
        </div>
    </body>
</html>