<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Invalid User input</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include("partials/style.ejs") %>
    </head>
    <body>
        <div class="container mt-5 text-justify d-flex justify-content-center">
           <div>
                <% errors.forEach((error) =>{ %>
                    <p><span class="bold"><%= error['param'] %>: </span><%= error['msg']%></p>  
                <%  })%>
                <a href="/signup" class="btn">Go back to signup Page</a>
           </div>
        </div>
    </body>
</html>