<!DOCTYPE html>
<html>

<head>
    <title>Central Library Login Page</title>
    <%- include("partials/style.ejs") %>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome to Central Library</h1>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <h3 class="cr font-weight-bolder mb-3">Login</h3>
                <form method="POST" action="/">
                    <div class="form-group">
                        <label for="name">User Name</label>
                        <input type="name" class="form-control " id="name" name="name" value="" autofocus="" required placeholder="JhonDoe">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control " id="password" name="password" value="" required >
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    </div>
                    <div>
                        <p>Not yet registered? <a href="/signup" class="btn">Register here.</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>