body,html{
    height:100%;
}
body{
    background-image:url("/public/images/author.jpg");
    background-position:center;
    background-attachment:fixed; 
    background-repeat:no-repeat;
    background-size:cover; 
    font-family: 'Courier New', Courier, monospace;
    color:black;
}

.table thead th,.table td,.table th{
    border:0px;
}
.btn{
    margin-left:-15px;
    color:inherit !important;
}
li:last-child{
    position: absolute;
    right:-10px;
    top:20px;
}