.card img{
    margin:auto;
    margin-top:10px;
    width: 70% !important;
    height:250px !important;
}
.card .card-body a.btn{
    position: relative;
    left:50%;
    margin-left:-45px;
}
li:last-child{
    position: absolute;
    right:30px;
    top:10px;
}